<select [ngClass]="{ 'form-control': true, 'form-control-sm': formControlSm }" (change)="change($event)" [(ngModel)]="currentVal" *ngIf="type == 1">
  <option *ngIf="all" value="0">All</option>
  <option *ngFor="let device of arrDeviceList" value="{{ device.iDeviceID }}">{{ device.sDeviceName }}</option>
</select>

<div class="input-group" *ngIf="type == 2">
  <select [ngClass]="{ 'form-control': true, 'form-control-sm': formControlSm }" (change)="change($event)" [(ngModel)]="currentVal">
    <option *ngIf="all" value="0">All</option>
    <option *ngFor="let device of arrDeviceList" value="{{ device.iDeviceID }}">{{ device.sDeviceName }}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-custom bg-main-color trn" style="margin-top: 0px" (click)="click()">View</button>
  </div>
</div>